<p id="notice"><%= notice %></p>

<h1>Tests</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>